@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.grid {
  display: grid;
  grid-template-areas:
    "headline"
    "pic"
    "uploadImage"
    "name"
    "secondname"
    "language"
    "city"
    "about"
    "saveButton"
  ;
  grid-template-rows: 50px 40% 5% 10% 10% 10% 10% 20% 20%;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  justify-items: center;
  position: relative;
  margin-top: 20px;
}

#headline {
  grid-area: headline;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#pic {
  grid-area: pic;
  border-radius: 50%;
  max-width: 300px;
  min-width: 300px;
  max-height: 300px;
  min-height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#uploadImage {
  grid-area: uploadImage;
  width: 100%;
  max-width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#name {
  grid-area: name;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 400px;
}

#secondname {
  grid-area: secondname;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 400px;
}

#language {
  grid-area: language;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 400px;
}

#city {
  grid-area: city;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 400px;
}

#about {
  grid-area: about;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 400px;
}

#saveButton {
  grid-area: saveButton;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

h3 {
  color: #000000;
  display: block;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

label {
  min-width: 100px;
}


///////////////////  input  ///////////


// Color
@gray: #999999;
@dark-gray: #333333;
@blue: #0086e4;

@primary-color: @blue;
@border-color: #dddddd;

// Font
@primary-font: 'Lato', sans-serif;

// Input
@input-height: 40px;


.input-group {
  margin-bottom: 20px;
  position: relative;

  &__input {
    width: 100%;
    height: @input-height;
    border: 1px solid @border-color;
    border-radius: 3px;
    padding: 0 10px;

    // there must a required prop in input
    // &:valid,
    // need to add placeholder
    &:not(:placeholder-shown),
    &:focus {
      +label {
        background-color: white;
        line-height: 10px;
        opacity: 1;
        font-size: 10px;
        top: -5px;
      }
    }

    &:focus {
      outline: none;
      border: 1px solid @primary-color;

      +label {
        color: @primary-color;
      }
    }
  }
}

//////////////////////////


//////////////////   about ////////////

.input-group-about {
  margin-bottom: 20px;
  position: relative;

  &__input {
    width: 100%;
    height: @input-height;
    border: 1px solid @border-color;
    border-radius: 3px;
    padding: 10px;
    height: 100%;

    // there must a required prop in input
    // &:valid,
    // need to add placeholder
    &:not(:placeholder-shown),
    &:focus {
      +label {
        background-color: white;
        line-height: 10px;
        opacity: 1;
        font-size: 10px;
        top: -5px;
      }
    }

    &:focus {
      outline: none;
      border: 1px solid @primary-color;

      +label {
        color: @primary-color;
      }
    }
  }
}



///////////////////////////////////////

//////////// select ///////////////

.select-box {
  position: relative;
  display: block;
  width: 100%;
  font-size: 14px;
  color: #000000;
}

.select-box__current {
  width: 100%;
  max-width: 300px;
  position: relative;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
  border: 1px solid @border-color;
}

.select-box__current:focus+.select-box__list {
  opacity: 1;
  -webkit-animation-name: none;
  animation-name: none;
  z-index: 999;
}

.select-box__current:focus+.select-box__list .select-box__option {
  cursor: pointer;
}

.select-box__current:focus .select-box__icon {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20px;
  opacity: 0.3;
  transition: 0.2s ease;
}

.select-box__value {
  display: flex;
}

.select-box__input {
  display: none;
}

.select-box__input:checked+.select-box__input-text {
  display: block;
}

.select-box__input-text {
  display: none;
  width: 100%;
  margin: 0;
  padding: 15px;
  background-color: #fff;
}

.select-box__list {
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  -webkit-animation-name: HideList;
  animation-name: HideList;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
  animation-timing-function: step-start;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

.select-box__option {
  display: block;
  padding: 15px;
  background-color: #fff;
}

.select-box__option:hover,
.select-box__option:focus {
  color: #546c84;
  background-color: #fbfbfb;
}

@-webkit-keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  to {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  to {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

///////////////////////////////

.save {
  width: 95px;
  height: 35px;
  margin: 20px 0;
  display: inline-block;
}

.contant_save {
  margin-top: -50px;
}