<div class="grid">
    <h3 id="headline">Изменить пароль</h3>
    <div id="oldpass">
        <label>Старый пароль*:</label>
        <input
            class="input-group__input"
            type="text" placeholder="&nbsp;"
            autocomplete="off"
            required
        />
    </div>
    <div id="pass">
        <label>Новый пароль*:</label>
        <input
            class="input-group__input"
            type="text" placeholder="&nbsp;"
            autocomplete="off"
            required
        />
    </div>
    <div id="secondpass">
        <label>Повторите новый пароль*:</label>
        <input
            class="input-group__input"
            type="text"
            placeholder="&nbsp;"
            autocomplete="off"
            required
        />
    </div>
    <button id="save" class="green-button save">Сохранить</button>
</div>