<div class="grid">
    <h3 id="headline">Изменить почту</h3>
    <div id="mail">
        <label>Почта*:</label>
        <input
            class="input-group__input inputmail"
            type="text" placeholder="&nbsp;"
            autocomplete="off"
            required
            value="{{mail}}"
        />
        <label>Подтвержден</label>
    </div>
    <div id="secondmail">
        <label>Запасная почта:</label>
        <input
            class="input-group__input"
            type="text" placeholder="&nbsp;"
            autocomplete="off"
            required
        />
    </div>
    <button id="BSave" class="green-button save">Сохранить</button>
</div>